#windowContainer {
    margin: auto;
    background-color: lightgray;
    border: 2px solid black;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    justify-content: left; 
    touch-action: none;
}

div.App {
    margin: auto;
    padding: 10px; 
}

#root {
    background: silver;
    height: 100%;
    clear: both;
}

body {
    background:silver;
}

html {
    background: silver; 
}

div.ui.segment {
    margin: auto;
    width: 100%;
    margin-bottom: 15px;
}

table {
    margin: auto;
}

.windowItem {
    touch-action: none;
    user-select: none;
    top: 0;
    width: 1px;
    border-left: 1px dashed black;
}

.one {
    height: 100%;
}

.two {
    height: 100%;
}

.three {
    height: 100%;
}

.four {
    height: 100%;
}

.windowItem:active {
    background-color: rgba(168, 218, 220, 1.00);
}

.windowItem:hover {
    cursor: pointer;
    background-color: rgba(168, 218, 220, 1.00);
    border-width: 1px;
}

.links {
    list-style: none;
}

.head {
    list-style: none;
}

.ui.form {
    
}

.ui.container {

}



